/* HEADER */
.main-header .nav-item--orders a{
    display: inline-block;
    position: relative;
}
.main-header .nav-item--orders .nav-link__badge{
    display: inline-flex;
    align-items: center;
    position: absolute;
    height: 18px;
    border-radius: 50%;
    top: 1px;
    right: -7px;
    padding: 0 5px;
    background-color: red;
    line-height: 1;
    font-size: 11px;
    width: 18px;
    text-align: center;
    color: white;
}

/** TABLES **/
.table--with-actions .td-id{
    width: 150px;
}

.table--with-actions tbody th:first-child,
.table--with-actions thead th:first-child{
    padding-left: 30px;
}

.table--with-actions thead th{
    padding-bottom: 20px;
}

.table--with-actions tbody .td-actions,
.table--with-actions thead .td-actions {
    width: 250px;
}

.table--with-actions tbody .td-actions > div {
    display: flex;
}
.table--with-actions tbody .td-actions .td-actions__wrapper .btn{
    margin-right: 15px;
}