body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.top-bar {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imagen-producto {
    width: 300px;
    height: auto;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.item {
    text-align: center;
    margin: 20px;
    flex: 1;
    max-width: 300px;
    height: 300px;
    box-sizing: border-box;
}

.item p {
    margin-bottom: 10px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transform: translateX(-50%);
}

button:hover {
    background-color: #1d6a20;
}