<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>¡PARA CASA!</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div class="top-bar">
    <div>¡PARA CASA!</div>
    <div>
        <a href="#">HOME</a> | <a href="#">PRODUCTOS</a> | <a href="#">MENU</a> | <a href="#">PEDIDO</a>
    </div>
</div>

<div class="content">
    <img th:src="@{/images/comidaparacasa.jpg}" class="logo">
    <h2>¡PARA CASA!</h2>
    <p>
        Este es un texto largo que describe algo interesante sobre PARA CASA.
        Puedes agregar más información aquí según tus necesidades.
    </p>
</div>
</body>
</html>
